
body
{
	font-family: 'Ubuntu', sans-serif; 

}

.container
{
	margin: 50px auto;
	width: 600px;
}

.title
{
	display: table-row;

}
.name
{
	display: block;
	 
	font-size: 50px !important;
	font-weight: bold;
	letter-spacing: -3.5px;
}


.title div
{
	display: table-cell;
	vertical-align: top;
}
.logo
{
	 
	margin: 0px 40px 0px 0px;
}

.title a
{
	color: black;
	display: block;
	margin-top: 15px;
	font-size: 15px;
	text-decoration: none;
}

